<div class="d-flex justify-content-center">
   <h1>Mailing Lists</h1>
</div>
<div class="d-flex justify-content-center">
   <p class="lead">Create mailing lists here. You can then send mass email to these lists.
   </p>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Lists
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert" id="listListAlert" style="display: none">    
                </div>
                <ul class="list-group list-group-flush" id="listList">
                </ul>
            </div>
            <div class="card-footer">
                <div class="alert alert-warning" role="alert" id="addListAlert" style="display: none">    
                </div>
                <form id="addListForm">
                    <input type="text" class="form-control-sm" name="listName" placeholder="New list name" required>
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Addresses
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert" id="listAddressesAlert" style="display: none">    
                </div>
                <form id="addAddressForm" style="display: none;">
                    <div class="alert alert-warning" role="alert" id="listAddressesError" style="display: none">    
                    </div>
                    <input type="hidden" name="currentList" id="currentList">
                    <input type="email" class="form-control-sm" name="newAddress" placeholder="email@address.com" required>
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </form>
                <ul class="list-group list-group-flush" id="listAddressList">
                </ul>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
<script>
    document.addEventListener('DOMContentLoaded', fetchLists, false);
    document.getElementById('addListForm').addEventListener('submit', evt => addList(evt));
    document.getElementById('addAddressForm').addEventListener('submit', evt => addListAddress(evt));

    function addList(evt) {
        // TODO 
    }

    function fetchLists() {
        // TODO 
    }

    function fetchListAddresses(listName) {
        // TODO 
    }

    function addListAddress(evt) {
        // TODO         
    }
</script>
{{/section}}