<div class="d-flex justify-content-center">
   <h1>Messages</h1>
</div>
<div class="d-flex justify-content-center">
   <p class="lead">Create messages here. These messages can be sent to your lists.
   </p>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Messages
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert" id="messageListAlert" style="display: none">    
                </div>
                <ul class="list-group list-group-flush" id="messageList">
                </ul>
            </div>
            <div class="card-footer">
                <div class="alert alert-warning" role="alert" id="addMessageAlert" style="display: none">    
                </div>
                <form id="addMessageForm">
                    <input type="text" class="form-control-sm" name="messageName" placeholder="New message name" required>
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Message Content
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert" id="messageContentAlert" style="display: none">    
                </div>
                <form id="addContentForm" style="display: none;">
                    <div class="alert alert-warning" role="alert" id="messageContentError" style="display: none">    
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-body">
                            Basic replacements are supported. Use <span class="font-monospace">__email__</span> as a placeholder for recipient's email address.
                        </div>
                    </div>
                    <input type="hidden" name="currentMessage" id="currentMessage">
                    <div style="color-scheme: light !important;">
                        <div style="min-height: 400px;" id="content" data-tiny-editor></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
<script>
    document.addEventListener('DOMContentLoaded', fetchMessages, false);
    document.getElementById('addMessageForm').addEventListener('submit', evt => addMessage(evt));
    document.getElementById('addContentForm').addEventListener('submit', evt => updateMessageContent(evt));

    function addMessage(evt) {
        // TODO 
    }

    function fetchMessages() {
        // TODO 
    }

    function fetchMessageContent(messageName) {
        // TODO 
    }

    function updateMessageContent(evt) {
        // TODO         
    }
</script>
{{/section}}